    {{!-- <li>{{id}}</li>
    <li>{{burger_name}}</li>
    <li>{{devour}}</li> --}}

    <li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
	</button>

</li>